

[".oh-my-zsh"]
    type = "git-repo"
    url = "https://github.com/ohmyzsh/ohmyzsh.git"

[".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
    type = "git-repo"
    url = "https://github.com/zsh-users/zsh-syntax-highlighting.git"

[".oh-my-zsh/custom/plugins/zsh-autosuggestions"]
    type = "git-repo"
    url = "https://github.com/zsh-users/zsh-autosuggestions.git"

[".oh-my-zsh/custom/plugins/autoupdate"]
    type = "git-repo"
    url = "https://github.com/tamcore/autoupdate-oh-my-zsh-plugins.git"

[".oh-my-zsh/custom/themes/powerlevel10k"]
    type = "git-repo"
    url = "https://github.com/romkatv/powerlevel10k.git"

[".config/bat/themes/tokyo_night_moon.tmTheme"]
  type="file"
  url="https://raw.githubusercontent.com/folke/tokyonight.nvim/main/extras/sublime/tokyonight_moon.tmTheme"
  refreshPeriod="168h"

[".config/bat/themes/catppuccin_macchiato.tmTheme"]
    type="file"
    url="https://raw.githubusercontent.com/catppuccin/bat/main/Catppuccin-macchiato.tmTheme"
    refreshPeriod="168h"

[".config/kitty/themes/tokyo_night_moon.conf"]
  type="file"
  url="https://raw.githubusercontent.com/folke/tokyonight.nvim/main/extras/kitty/tokyonight_moon.conf"
  refreshPeriod="168h"

[".config/kitty/kitty.app.icns"]
    type="file"
    url="https://github.com/k0nserv/kitty-icon/raw/main/build/neue_outrun.icns"
    refreshPeriod="168h"
